<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<title>ボタニカルエアカラーフォーム</title>
<meta charset="utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<script type="text/javascript" src="https://somaru-life.net/bota_roul_data/common/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://somaru-life.net/bota_roul_data/common/spin.js"></script>
<link rel="stylesheet" href="https://somaru-life.net/bota_roul_data/styles/campaign.css" />
</head>

<body>

  <div class="main start">
	 <img class="h1 pc" src="https://somaru-life.net/bota_roul_data/images/h1.png" alt=""/>
	 <img class="h1 sp" src="https://somaru-life.net/bota_roul_data/images/h1_sp.png" alt=""/>
    <div class="container">
	<img class="index1 pc" src="https://somaru-life.net/bota_roul_data/images/index_image1.png" alt=""/>
	<img class="index1 sp" src="https://somaru-life.net/bota_roul_data/images/index_image1_sp.png" alt=""/>
<img class="index2" src="https://somaru-life.net/bota_roul_data/images/index_image2.png" alt=""/>
	<img class="fv" src="https://somaru-life.net/bota_roul_data/images/fv.png" alt=""/>
	<div class="rouret">

      <div class="arrow">
        <img src="https://somaru-life.net/bota_roul_data/images/arrow.png" alt="" />
      </div>
      <div class="roulette spin" id="mato">
        <img src="https://somaru-life.net/bota_roul_data/images/roulette.png" alt="" />
      </div>
      <div class="button-area">
        <a class="button-stop" href="javascript:void(0);" onclick="OnLinkClick();">
          <img src="https://somaru-life.net/bota_roul_data/images/button-under.png" alt="STOP" />
        </a>
      </div>
<img class="kira pc" src="https://somaru-life.net/bota_roul_data/images/kira.png" alt=""/>
</div>

</div>
	 <div class="footer1">

<ul class="list-footer">
<li><a href="https://somaru-life.net/" target="_blank">運営者情報</a></li>
</ul>
<p class="copy">Copyright© TAMAGOKICHI. All Rights Reserved.</p>
</div>
  </div>





<script>
	$(".button-stop").click(function(){
	  $(".button-stop img").addClass("no-bound");
	});
</script>
<script th:replace="./cms/system/webbecon/tracking_top.html" />
    <script th:replace="./cms/system/webbecon/tracking_bottom.html" />


</body>
</html>
